<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting id="lastpresetidx" type="integer" default="0" visible="false" />
    <setting id="lastactiveidx" type="integer" default="0" visible="false" />
    <setting id="lastfilehash" type="integer" default="0" visible="false" />
    <setting id="randomise" label="30000" type="bool" default="false" />
    <setting id="showTestingPresets" label="30030" type="bool" default="false" />
    <setting type="sep" />
    <setting label="30010" type="lsep" />
    <setting id="timeMultiplier" label="30020" type="select" values="1|2|4|8|16" default="1" />
</settings>
